body {
    text-align: center;
}

.header {
    background-color:white;
    padding: 1px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #666666;
}
  
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
#navbar a:hover {
    background-color: lightgrey;
    color: black;
}
  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

p{
    border-width:5px;  
    border-style:hidden;
}

html {
    scroll-behavior: smooth;
}
  
.produk {
    height: 600px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.load{

    text-align: center;
    border-style: solid;
    padding: 10px;
    border-width: thin;
    color: #666666;
    font-size: large;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;