body{
    width: 1000px;
    margin: 0 auto;
}
div.a {
    text-align: right;
}
p.minimo {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
p.list {
    text-align: right;
}
p.deskripsi {
   font-family: 'Playfair Display', serif;
   color: #606060
}
li {
    
    margin-right: 10px;
    color: grey;
    font-family: 'Playfair Display', serif;
}
li.space {
    visibility: hidden;
}
a:link {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
p.judul {
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
    color: #606060;
}
p.kutipan {
    font-family: 'Ubuntu', sans-serif;
    color: grey;
}

div.sign{
    margin-top: 70px;
    border-style: solid;
    padding :  50px;
    background-color: lightgrey;
    border: none;
}
div.column {
    float: left;
    width: 32.2%;
    padding: 5px;
  }
div.row::after {
    content: "";
    clear: both;
    display: table;
}
p.like {
    font-size: x-large;
    color: grey;
}
.b {
    font-weight: bolder;
}
p.komen {
    font-size: large;
    color: #606060;
}
textarea{
    border-radius: 5px;
    width: 875px;
    height: 50px;
    padding: 8px;
}
.sidenav {
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 730px;
    right: 190px;
    background: transparent;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
  }
  
  .main {
    margin-left: 140px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
div.paragraf {
    width: 700px;
}
div.end {
  color: #606060;
}
  p.kutipaning {
    font-family: 'Ubuntu', sans-serif;
    color: grey;
    font-size: 12px;
}
img.tipis {
  opacity: 0.3;
}